.App {
  text-align: center;
}

@keyframes app-logo-color-animation {
  0% {
		filter: hue-rotate(315deg);
  }
  100% {
		filter: hue-rotate(205deg);
  }
}

@keyframes video-loop-color-animation {
	0% {
		background-color: hsl(315, 100%, 25%);
	}
	50% {
		background-color: hsl(260, 100%, 25%);
	}
	100% {
		background-color: hsl(205, 100%, 25%);
	}
}
