/* Play font */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play Regular'), local('Play-Regular'),
  url('./fonts/play-v11-latin-regular.woff2') format('woff2'),
  url('./fonts/play-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'),
  url('./fonts/play-v11-latin-700.woff2') format('woff2'),
  url('./fonts/play-v11-latin-700.woff') format('woff');
}
/* Macondo font */
@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/macondo-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/macondo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/macondo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/macondo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/macondo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/macondo-v9-latin-regular.svg#Macondo') format('svg'); /* Legacy iOS */
}
/* Tillana font */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/tillana-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/tillana-v6-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/tillana-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/tillana-v6-latin-ext_latin-regular.svg#Tillana') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/tillana-v6-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/tillana-v6-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/tillana-v6-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/tillana-v6-latin-ext_latin-500.svg#Tillana') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/tillana-v6-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/tillana-v6-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/tillana-v6-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/tillana-v6-latin-ext_latin-600.svg#Tillana') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/tillana-v6-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/tillana-v6-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/tillana-v6-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/tillana-v6-latin-ext_latin-700.svg#Tillana') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/tillana-v6-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/tillana-v6-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/tillana-v6-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
  url('./fonts/tillana-v6-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/tillana-v6-latin-ext_latin-800.svg#Tillana') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
	font-family: 'Play', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
	background-color: #000;
}
